body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
.btn {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #222;
  color: #fff;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 100vh;
}

input,
.btn,
textarea {
  font-size: 1em;
  padding: 0.6em 0.8em;
  border: none;
  outline: none;
}

input,
.btn {
  border-radius: 0.2em;
}

.btn {
  background-color: #39f;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid #39f;
}

.btn-disabled {
  pointer-events: none;
  opacity: 0.2;
}

textarea {
  font-family: "cascadia code", "roboto mono", monospace;
}

::placeholder {
  font-style: italic;
}

/* Layout */
header form {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

header form input {
  flex: auto;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: auto;
}

main .action {
  display: flex;
  gap: 1em;
  justify-content: flex-end;
  align-items: center;
}

main .action .info {
  flex: auto;
  max-height: 2em;
  overflow: auto;
}

main form {
  height: 100%;
}

main textarea {
  resize: none;
  height: 100%;
  width: 100%;
  background-color: #333;
  color: #fff;
  line-height: 1.6;
  font-size: 1.16em;
}
